body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #839aac;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card{
  box-shadow: 10px 10px 20px rgb(187, 187, 187);
  margin-bottom: 20px !important;
}

.create-user-outer{
  max-width: 400px;
  margin: 5px auto;
  margin-bottom: 100px;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.create-user-inner input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  display: block;
}

.cart {
  background-color: #fff;
  padding: 4vh 10vh;
  padding-right: 4vh !important;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}

#outer-div-cart{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-top: 50px;
  padding-left: 4vh;
}

.account-form{
  padding: 20px;
}

.h4-account{
  text-align: center;
}

.pt-4{
  margin-top: 50px;
}


